[submodule ".vim/bundle/fugutive"]
	path = .vim/bundle/fugutive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule ".vim/bundle/PDV"]
	path = .vim/bundle/PDV
	url = git://github.com/tobyS/vip.git
[submodule ".vim/bundle/findfile"]
	path = .vim/bundle/findfile
	url = git://github.com/statico/FindFile.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/vim-php-debugger"]
	path = .vim/bundle/vim-php-debugger
	url = git://github.com/ornicar/vim-php-debugger.git
[submodule ".vim/bundle/lustyExplorer"]
	path = .vim/bundle/lustyExplorer
	url = git://github.com/sjbach/lusty.git
[submodule ".vim/bundle/grep"]
	path = .vim/bundle/grep
	url = git://github.com/vim-scripts/grep.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git@github.com:jsuggs/snipmate.vim.git
[submodule ".vim/bundle/vim-php-namespace"]
	path = .vim/bundle/vim-php-namespace
	url = git@github.com:jsuggs/vim-php-namespace.git
[submodule ".vim/bundle/vim-symfony"]
	path = .vim/bundle/vim-symfony
	url = git@github.com:jsuggs/vim-symfony.git
[submodule ".vim/bundle/vim-easytags"]
	path = .vim/bundle/vim-easytags
	url = git@github.com:jsuggs/vim-easytags.git
[submodule ".vim/bundle/showmarks"]
	path = .vim/bundle/showmarks
	url = git@github.com:jsuggs/ShowMarks.git
